/* versioninfo.rc.in - for libetpan
 *    Copyright (C) 2005 g10 Code GmbH
 * 
 * This file is free software; as a special exception the author gives
 * unlimited permission to copy and/or distribute it, with or without
 * modifications, as long as this notice is preserved.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY, to the extent permitted by law; without even the
 * implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 */
 
/* This file is processed by configure to create versioninfo.rc */

#line __LINE__ "versioninfo.rc.in"

#include <afxres.h>


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 15,15,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x21L
#else
 FILEFLAGS 0x20L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "ADD LICENSE COMMENT HERE.\0"
            VALUE "CompanyName", "ADD COMPANY NAME\0"
            VALUE "FileDescription", "LIBETPAN\0"
            VALUE "FileVersion", "15.15.0.0\0"
            VALUE "InternalName", "libetpan\0"
            VALUE "LegalCopyright", "ADD COPYRIGHT NOTICE\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "libetpan.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "LIBETPAN\0"
            VALUE "ProductVersion", "1.0-dev-20110509\0"
            VALUE "SpecialBuild", "2011-05-09T17:19-0500\0"
        END
    END
END

